/* Common styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}